body{
    background-color: darkcyan;
    color: white;
}

.griglia{
    display: flex;
    flex-wrap: wrap;
    width: 91.25rem;
    margin: 0 auto;
    border: 1px solid black;
}

.quadrato{
    background-color: tomato;
    color: white;
    border: 1px solid black;
    padding: 3rem;
    width: 3rem;
    text-align: center;
}