body{
    background-color: darkblue;
    color: white;
}

h1{
    text-align: center;
}

span{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

body > section:nth-child(3){
    display: flex;
    justify-content: center;
    margin: 2rem;
}

body > section:first-of-type{
    display: flex;
    justify-content: center;
}

#modalità-di-gioco{
    margin-right: 1rem;
}

button{
    padding: 1rem 2rem;
}

.griglia{
    display: flex;
    flex-wrap: wrap;
    height: 37rem;
    width: 37rem;
    margin: 0 auto;
}

.quadrato{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.bk-celeste{
    background-color: cyan;
    color: black;
}